<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Session</title>
</head>
<body>
    <h4>Getting Session...</h4>
    <h3>{{name}}</h3><br><hr>
    <h5>{{request.session.get_session_cookie_age}}</h5><br><hr>
    <h5> {{request.session.get_expiry_age}}</h5><br><hr>
    <h5> {{request.session.get_expiry_date}}</h5><br><hr>
    <h5> {{request.session.get_expire_at_browser_close}}</h5><br><hr>
    
   

</body>
</html>